/* Main body */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
              


/* Typography */
h2 {
    border-bottom: 2px solid #dbdbdb;
    font-family: 'ChunkFiveRegular', Georgia, serif;
    font-size: 1.5em; /* 24px/16px */
    line-height: 1em;
    margin-bottom: .666666667em; /* 16px / 24px */
    margin-top: 1em;
}

/* Scales the image based on the width of the screen */
 img{
	max-width: 100%;
	height:auto;

}
	

 a {
    color: #6E6E6E;
    text-decoration: underline;
}
/* Base styles */
body {
    background: #fff;
    color: #333;
    font: 100%/1.5em Georgia, 'Times New Roman', serif;
}



#container {
    margin: auto auto 1.5em auto;
    overflow: hidden;
	width: 95%;
	padding: 1.0548523%; /* 10px/948*/
    
}


/* Navigation */
 
nav {
    background-color: #16A60F;
    font-family: Georgia, 'Times New Roman', serif;
    overflow: hidden;
    width: 100%; /* collapses if width is small enough */
}

	
nav li a:hover {
	color: white;
}
nav ul {
	margin: 0; 
}
nav li{
	padding: .625em 2em .625em 0;
	border-top: 1px solid yellow;		
} 

	
nav a {
	color: #E3E3E3;
	display: block;
	text-decoration: none;
}

li{
	list-style-type:none;
}

	
	

/* 860px/16px */
@media all and (min-width: 53.75em) {
	
	/* floats nav left */
	nav li, a {
	    float: left;
		border-top: none;
	}

	
	aside{
		display: block;
		margin-bottom: 1em;
		padding: 0 1%;
		width: auto;
	}
	
}
/* 940px/16px */
@media all and (min-width: 58.75em) {
	/* displays content as table cells pushing the aside content to the right*/
	main {
		display: table-cell;
		padding-right: 2.5316456%; /* 24px / 948px */
	}
	aside {
	    display: table-cell;
		width: 300px;
	}
	aside section{
		float: none;
		width: 100%;
	}
}


